/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}

/* Headings */
h1 {
  font-size: 34px;
  text-align: center;
}

h2 {
  color: darkgreen;
  text-align: center;
}

/* Navigation */
nav {
  text-align: center;
  padding: 1rem 0 2rem;
}

nav a {
  margin: 0 1rem;
  color: slategray;
  text-decoration: none;
}

nav a:visited {
  color: forestgreen;
}

nav a:hover {
  color: indigo;
}

nav a:active {
  color: aquamarine;
}

/* Images & Figures */
img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

figure {
  padding-bottom: 1rem;
  text-align: center;
}

.cap {
  color: slategray;
}

/* Sections & Paragraphs */
section {
  padding: 2rem 0;
}

p {
  margin: 0 10vw;
  text-align: justify;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
}

footer a:hover {
  text-decoration: none;
}
